<footer class="band band-bottom">
  <div class="wrap colophon">
    <img class="colophon-mark" src="{{ site.platform.mark }}" alt="">
    <p class="colophon-text">
      This research blog is made using
      <a class="ul" href="{{ site.platform.url }}">{{ site.platform.name }}</a>,
      {{ site.platform.blurb }}
    </p>
    <p class="colophon-count meta">
      {{ collections.people.length }} writers ·
      {{ collections.posts.length }} posts ·
      {{ collections.projects.length }} projects
    </p>
  </div>
</footer>
